.product {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 25px;
  width: 250px;
  height: 90%;
  border: 1px solid whitesmoke;
}

/* .product {
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  width: 150px;
  height: 100%;
  border: 1px solid whitesmoke;
} */
mat-icon:hover {
  cursor:pointer
}

.guitar-image {
  height: 100px;
  width: 80px;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
}

mat-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

strong {
  position: absolute;
  right: 5px;
  bottom: 45px;
}

mat-dialog-actions {
  display: flex;
  flex-direction: column;
}

.edit-product-form {
  display: flex;
  flex-direction: column;
}

mat-error {
  text-align: center;
  margin-bottom: 10px;
}
